/* You can add global styles to this file, and also import other style files */
/* Добавь тильду! */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
    font-family: 'Open Sans', sans-serif;
}


section {
    width: 90%;
    border: 1px solid blue;
    margin: 15px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24);
}

h1 {
    text-align: center;
    background: #3f51b5;
    color: white;
    padding: 5px;
    margin: 0;
}