
body {
    width: 1000px;
    /* border: 1px solid brown; */
    margin: 50px auto;

}

#picturesHere {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#bigPicture {
    margin-top: 15px;
}

#bigPicture p {
    font-size: 18pt;
    text-align: center;
    color: #333;
}

img { cursor: pointer }